/*#alt-list {*/
	/*margin-top: 10px;*/
/*}*/
#alt-list-data > .cloned {
	padding-bottom: 5px;
}
#alt-list-header {
	margin-bottom: 5px;
}
.field-wrapper .field-input-wrapper {
	display: inline-block;
}
.field-wrapper .error {
	display: inline-block;
	margin: 4px 0px 0px 5px;
}
.form-errors-wrapper {
	overflow: hidden;
}
div.form-errors-wrapper .error {
	margin: 0px;
}
#btn-add-wrapper {
	margin-top: 5px;
}
#alt-list-data label,
#content .container label {
    display: inline-block;
}

#alt-list-wrapper {
    overflow: auto;
}
#rules {
    float: left;
    margin-top: 10px;
}
#alt-list-wrapper #alt-list,
#possible-rules {
    float: left;
    margin-right: 50px;
}
table {
    border-collapse: collapse;
    margin-top: 15px;
}
td:nth-child(2) {
    text-align: center;
}
tr {
    height: 2em;
}
thead, tr:nth-child(even) {
    background: #ccc;
}
th, td {
    padding: 5px;
}
#explanation {
    font-style: italic;
    width: 300px;
}
.container {
    border: 2px solid #ccc;
}
fieldset {
    margin-top: 7px;
    width: 200px;
}
fieldset.container div {
    max-height: 200px;
    overflow-y: auto;
    border: none;
    padding-left: 5px;
}
legend {
    margin-left: 5px;
}
.select-all-wrapper {
    background-color: #ccc;
    margin-top: 5px;
    margin-left: -5px;
    padding-left: 5px;
}
.select-all-wrapper label {
    font-style: italic;
}
a {
    color: #444;
}