.drop {
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #999;
	width: 370px;
	min-height: 200px;
	margin-bottom: 5px;
	padding: 5px;
	margin: 10px 0px;
	height: 100%;
}
.drag {
	padding: 5px;
}
.alt-data {
	-moz-box-shadow: 0 0 5px #333;
	-webkit-box-shadow: 0 0 5px #333;
	box-shadow: 0 0 5px #333;
	padding: 3px 3px 3px 5px;
	background-color: #D8D8D8;
}
.list-head {
	margin-bottom: 3px;
}

#alt-list {
	margin-top: 10px;
}
#alt-list #alt-list-data {
	margin-left: 1px;
}
.list-wrapper {
	width: 400px;
	display: inline-block;
	margin: 0px 0px 5px 1px;
}
#conc-list {
	margin-top: 10px;
}
#conc-list #conc-list-data {
	margin-top: 5px;
	padding-left: 5px;
}
#conc-list .info {
	font-size: 11px;
	padding: 5px;
}
.list-input {
	margin-top: 7px;
}
.cloned {
	overflow: hidden;
	margin-bottom: 10px;
}
.field-wrapper {
	float: left;
}
.del-conc-but-wrapper {
    margin-left: 10px;
    float: left;
}
.sep {
	float: left;
	margin: 0px 5px;
	padding-top: 2px;
}
.field-input-wrapper input,
.list-input input {
    width: 376px;
}
form {
    width: 865px;
}
#add-conc-but-wrapper {
    margin-top: 260px;
    float: right;
}

#add-conc-but-wrapper input {
    margin-left: -68px;
}