#createSessionBody {
	margin-left: 5px;
}

#content label {
	padding-top: 0px;
}

#content .formelms {
	padding: 0px;
}

#createSessionBasedOnGrid {
	overflow: auto;
	width: 990px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	padding-bottom: 15px;
}