{% extends 'layout.html' %}

{% block title %}
RGT | Grids
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/gridTableGeneralFunctions.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/showMyGrids.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tipsy.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smallButton.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sliders.css" />
{% endblock stylesheet %}

{% block javascript %}
<script>
	if(typeof showMyGrid != 'function')
	{
		$.ajax({
			url: '{{ STATIC_URL }}js/showMyGrids.js',
			dataType: 'script',
			async: false
		});
	}
</script>
{% endblock javascript %}

{% block content %}
{% if not user.is_active %}
	<div id="verify-message">
		<p>Please verify your email in order to use this part of the application.</p>
	</div>
{% else %}
    <h2>Grid Management</h2>
    <div id="information">
        {% if grids %}
            <p>Select and display any of your current grids, or create a new one either <a href="{% url 'grid_in_place' %}">in place</a> or by using a <a href="{% url 'grid_wizard' %}">wizard</a> or you can create a
                <a href="{% url 'grid_composite' %}">composite grid(alpha)</a><br>from your existing grids.</p>
        {% elif not grid %}
            <p>You do not have any grids yet. Please create one either <a href="{% url 'grid_in_place' %}">in place</a> or by using a <a href="{% url 'grid_wizard' %}">wizard</a>.</p>
        {% endif %}
    </div>
    <div>
        <table border= "0">
            <tr>
                <td>
                    <label for="showGridSelection">Select grid:</label>
                    <select id="showGridSelection" onchange="window.location.href='/grids/show/' + this.options[this.selectedIndex].value">
                        {% if grids %}
                            <option value= "noGrids">&nbsp;</option>
                            {% for grid in grids %}
                                <option value= "{{ grid.usid }}">{{ grid.name }}</option>
                            {% endfor %}
                        {% else %}
                            <option value= "noGrids">No grids available</option>
                        {% endif %}
                    </select>
                </td>
            </tr>
        </table>
    </div>
{% endif %}

{%  block grid %}{%  endblock %}
{% endblock %}

