{% extends 'gridMng/grid/showMyGrids.html' %}

{% block title %}
RGT | Grid {{ grid.name }}
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/gridTableGeneralFunctions.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/showMyGrids.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tipsy.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smallButton.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sliders.css" />
{% endblock stylesheet %}

{% block javascript %}
<script>
	if(typeof showMyGrid != 'function')
	{
		$.ajax({
			url: '{{ STATIC_URL }}js/showMyGrids.js',
			dataType: 'script',
			async: false
		});
	}
    $(document).ready(function() {
        prepareForNewGrid($('#results'));	//this function is from gridTableGeneralFunctions.js
        calculateTotalWeight($('#results'));

        //set table status as matching with the db
        hasTableBeenSaved = true;

        //make the form string that represent the saved table in db
        masterFormString= $("#form").serialize();

        isGridComplete();

        //set tipsy
        initiateGridTableToolTip($('#results'));
    });
</script>
{% endblock javascript %}

{% block grid %}
<div id="gridNameDiv">
    <label class="gridNameLabel" for="gridName">Name:</label>
    <input type="text" id="gridName" name="gridName" size="45" onchange="isTextEmpty($(this));isTableSaved()" value="{{ grid.name }}" />
    <input type="hidden" id="gridUSID" name="gridUSID" value="{{ grid.usid }}" />
</div>

<form id="form">{% csrf_token %}
	<div id="results">
        {{ grid_html }}
	</div>
    <div id="wContainer" style="display: none;">
	</div>

    <p id="totalW"></p>
    <input type="button" id="weightSliders" onclick="adjustWeights();$('#weightSliders').hide();$('#weightSliders2').show();" value="Prioritize concerns"/><p id="weightSliders2" hidden="hidden">&nbsp;Please click save in order to go back.</p>
	<div class="tableOptions" id="showMyGridsTableOptions">
        <input type="button" id="saveButton" onclick="$('#results').show();$('#weightSliders').show();$('#totalW').hide();$('#wContainer').hide();$('#weightSliders2').hide();rescale($('#form'));$('#similarityMatrix').hide();$('.resim').remove();clearSvgImg('dendogramDiv');saveGrid();" value="Save changes" disabled="disabled"/>
        <input type="button" id="reloadSavedGridButton" onclick="showMyGrid(true)" value="Undo all" disabled="disabled"/>
        <input type="button" onclick="$('.resim').remove();deleteMyGrid()" value="Delete" />
	</div>
    <div id="tabs">
        <ul>
            <li><a href="#similarityMatrix" onclick="$('.resim').remove();$('#similarityMatrix').show();getMatrices()">Similarity analysis</a></li>
            <li><a href="#showDendrogram" onclick="$('.resim').remove();$('#showDendogram').show();getDendogram()" >Cluster analysis</a></li>
            <li><a href="#pca" onclick="getPCA()">Principal component analysis (alpha)</a></li>
        </ul>
        <div id="similarityMatrix">
            <div id="similarity" style="display: none;">
	            <div id="similarityDiv" class="similarityDiv">
	            </div>
            </div>
        </div>
        <div id="showDendrogram">
             <div id="dendrogram" style="display: none;">
	                <div id="dendrogramHead" class="dendrogramHead">
                    <span id="dendrogramTitle" class="dendrogramTitle"></span>
	                </div>
	                <div id="dendogramDiv" class="dendrogramDiv">
	                </div>
            </div>
        </div>
        <div id="pca">
            <div id="pcaResult" align="center">
            </div>
        </div>
    </div>
</form>
{% endblock %}