{% extends 'layout.html' %}

{% block title %}
RGT | Timeline for grid {{ grid.name }}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    createStoryJS({
        type:       'timeline',
        width:      '1200',
        height:     '600',
        source:     '{% url 'RGT.gridMng.views.timeline_json' grid.usid %}',
        embed_id:   'timeline'
    });
});
</script>
{% endblock %}

{% block content %}
{% if not user.is_active %}
	<div id="verify-message">
		<p>Please verify your email in order to use this part of the application.</p>
	</div>
{% else %}
    <a href="{{ grid.get_absolute_url }}">Return to grid</a>
    <div id="timeline">
    </div>
{% endif %}
{% endblock %}