{% extends 'gridMng/wizard/gridWizard_base.html' %}
{% load wizard_extras %}

{% block stylesheet %}
<style type="text/css">
.drop {
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #999;
	width: 370px;
	min-height: 200px;
	margin-bottom: 5px;
	padding: 5px;
	margin: 10px 0px;
	height: 100%;
}
.drag {
	padding: 5px;
}
.alt-data {
	-moz-box-shadow: 0 0 5px #333;
	-webkit-box-shadow: 0 0 5px #333;
	box-shadow: 0 0 5px #333;
	padding: 3px 3px 3px 5px;
	background-color: #D8D8D8;
}
.list-head {
	margin-bottom: 3px;
}

#alt-list {
	margin-top: 10px;
}
#alt-list #alt-list-data {
	margin-left: 2px;
}
.list-wrapper {
	width: 426px;
	float: left;
	margin: 0px 0px 5px 2px;
}
#conc-list {
	margin-top: 10px;
}
#conc-list #conc-list-data {
	margin-top: 5px;
	padding-left: 5px;
}
#conc-list .info {
	font-size: 11px;
	padding: 5px;
}
#form-menu {
	margin-top: 10px;
}
.list-input {
	margin-top: 7px;
}
.cloned {
	overflow: hidden;
	margin-bottom: 10px;
}
.field-wrapper {
	width: 275px;
	float: left;
}
.sep {
	float: left;
	margin: 0px 5px;
	padding-top: 2px;
}
</style>
{% endblock stylesheet %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.21.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/wizard/wizard-step_3.js"></script>
{% endblock javascript %}

{% block step_info %}
<div class="step-header">
	<p>In this step you can add the concerns. Drag and drop alternatives from the alternatives list and place them in the<br />
	two other lists below.</p>
</div>
{% endblock step_info %}

{% block wizard_top_content %}
<div id="alt-list">
	<div class="list-head" id="alt-list-head">
		<h4>Alternatives List</h4>
	</div>
	<div class="drop" id="alt-list-data">
		{% for alternative in alternatives_data|sort_dict_by_key %}
			<div class="drag" id="{{ alternative.0 }}">
				<div class="alt-data">
					<span class="alt-name">{{ alternative.1 }}</span>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<div class="list-wrapper" id="sim-list">
	<div class="list-head" id="sim-list-head">
		<p>For the alternatives that you have placed in this list, type a phrase describing why these are similar.</p> 
	</div>
	<div class="drop" id="sim-list-data"></div>
	<div class="list-input" id="left-conc-input">
		<input type="text" id="left-conc" size="50" />
	</div>
</div>
<div class="list-wrapper" id="diff-list">
	<div class="list-head" id="diff-list-head">
		<p>For the alternatives that you have placed in this list, type a phrase describing why these differ from the others.</p>
	</div>
	<div class="drop" id="diff-list-data"></div>
	<div class="list-input" id="right-conc-input">
		<input type="text" id="right-conc" size="50" />
	</div>
</div>
<div id="add-conc-but-wrapper">
	<input type="button" id="add-conc-but" value="Add" />
</div>
{% endblock wizard_top_content %}

{% block wizard_form_content %}
<div id="conc-list">
	<div id="conc-list-header">
		<p>The list below contains the concerns that you have already added. You can change their names in place.</p>
	</div>
	<div id="conc-list-data">
		{% if wizard.form.fields|length > 0 %}
			<div id="input1" class="cloned">
			{% for field in wizard.form %}
				<div class="field-wrapper">
					<div class="field-input-wrapper">
						{{ field }}
					</div>
					{% if field.errors %}
					<div class="error">
					{% for error in field.errors %}
						<p>{{ error }}</p>
					{% endfor %}
					</div>
					{% endif %}
				</div>
				{% if forloop.counter|divisibleby:"2" %}
					{% if forloop.counter|divide_by:2 < wizard.form.fields|length|divide_by:2 %}
						</div>
						<div id="input{{ forloop.counter|divide_by:2|add:'1' }}" class="cloned">
					{% endif %}
				{% else %}
				<div class="sep">
					<span>--</span>
				</div>
				{% endif %}
			{% endfor %}
			</div>
		{% else %}
			<div class="info">
				<p>No concerns have been added yet.</p>
			</div>
		{% endif %}
	</div>
</div>
{% if wizard.form.errors %}
<div class="error">
	{% for error in wizard.form.non_field_errors %}
		<p>{{ error }}</p>
	{% endfor %}
</div>
{% endif %}
<input type="hidden" name="num-concerns" value="{{ wizard.form.fields|length|divide_by:2 }}" id="num-concerns" />
{% endblock wizard_form_content %}