{% extends 'layout.html' %}

{% block title %}
	RGT | Grids - Wizard
{% endblock %}

{% block content %}
{% if not user.is_active %}
	<div id="verify-message">
		<span>Please verify your email in order to use this part of the application! Thank you!</span>
	</div>
{% else %}
	<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
	<form method="post">{% csrf_token %}
	{{ wizard.management_form }}
	{% if wizard.form.forms %}
	    {{ wizard.form.management_form }}
	    {% for form in wizard.form.forms %}
	        {{ form }}
	    {% endfor %}
	{% else %}
		<div class="step-header">
			{% block step_header %}{% endblock %}
		</div>
	    {% block wizard_content %}{% endblock %}
	{% endif %}
	{% if wizard.steps.prev %}
		<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">first step</button>
		<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">prev step</button>
	{% endif %}
	<input type="submit" value="submit"/>
	</form>
{% endif %}
{% endblock %}