{% extends 'layout.html' %}

{% block title %}
	RGT | Grids - Create
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/wizard/wizard-common.css" />
{% endblock stylesheet %}

{% block content %}
{% if not user.is_active %}
	<div id="verify-message">
		<p>Please verify your email in order to use this part of the application! Thank you!</p>
	</div>
{% else %}
	<div id="wizard-header">
		<h2>Create Grid</h2>
	</div>
	<div id="wizard-step-header">
		<h3>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h3>
	</div>
	{% block step_info %}{% endblock %}
	{% block wizard_top_content %}{% endblock %}
	<form id="form" method="post">{% csrf_token %}
		{{ wizard.management_form }}
		{% if wizard.form.forms %}
		    {{ wizard.form.management_form }}
		    {% for form in wizard.form.forms %}
		        {{ form }}
		    {% endfor %}
		{% else %}
		    {% block wizard_form_content %}{% endblock %}
		    {% block after_wizard_form_content %}{% endblock %}
		{% endif %}
		<div id="form-menu">
			{% if wizard.steps.prev %}
			<button name="wizard_goto_step" type="submit" id="btn-prev-step" value="{{ wizard.steps.prev }}" tabindex="{% block prev_step_but_tab %}{% endblock %}">Prev Step</button>
			{% endif %}
			<input type="submit" value="Next Step" id="btn-submit" tabindex="{% block next_step_but_tab %}{% endblock %}" />
		</div>
	</form>
	{% block wizard_bottom_content %}{% endblock %}
{% endif %}
{% endblock content %}