{% extends 'gridMng/wizard/gridWizard_base.html' %}
{% load wizard_extras %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/wizard/wizard-step_2.css" />
{% endblock stylesheet %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/wizard/wizard-step_2.js"></script>
{% endblock javascript %}

{% block step_info %}
<div class="step-header">
	<p>In this step you can type the alternatives. New input fields are added automatically.</p>
</div>
{% endblock step_info %}

{% block wizard_form_content %}
<div id="alt-list">
	<div id="alt-list-header">
		<h4>Alternatives</h4>
	</div>
	<div id="alt-list-data">
	{% if wizard.form.fields|length == 0 %}
		{% for i in 2|get_range %}
		<div id="input{{ forloop.counter }}" class="cloned">
			<input type="text" name="1-alternative-{{ forloop.counter }}" id="id_1-alternative-{{ forloop.counter }}" tabindex="{{ forloop.counter }}" size="30" />
            <input type="button" id="btn-del-{{ forloop.counter }}" value="X" onclick="removeAlt({{ forloop.counter }})" />
		</div>
		{% endfor %}
	{% else %}
		{% for field in wizard.form %}
		<div id="input{{ forloop.counter }}" class="cloned">
			<div class="field-wrapper">
				<div class="field-input-wrapper">
					{{ field }}
                    <input type="button" id="btn-del-{{ forloop.counter }}" value="X" onclick="removeAlt({{ forloop.counter }})" />
				</div>
				{% if field.errors %}
                    <div class="error">
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                    </div>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	{% endif %}
	</div>
</div>
{% if wizard.form.errors %}
<div class="form-errors-wrapper">
	<div class="error">
	{% for error in wizard.form.non_field_errors %}
		<p>{{ error }}</p>
	{% endfor %}
	</div>
</div>
{% endif %}
<input type="hidden" name="num-alternatives" value="{% if wizard.form.fields|length == 0 %}2{% else %}{{ wizard.form.fields|length }}{% endif %}" id="num-alternatives" />
{% endblock wizard_form_content %}

{% block prev_step_but_tab %}{% if alternatives_length %}{{ alternatives_length|add:'3' }}{% else %}6{% endif %}{% endblock prev_step_but_tab %}

{% block next_step_but_tab %}{% if alternatives_length %}{{ alternatives_length|add:'2' }}{% else %}5{% endif %}{% endblock next_step_but_tab %}
