{% extends 'gridMng/wizard/gridWizard_base.html' %}
{% load wizard_extras %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/wizard/wizard-step_4.js"></script>
{% endblock javascript %}

{% block step_header %}
<div class="step-header">
	<p>Please insert weights for the concerns. Note that the total weight must be equal to 100.</p>
</div>
{% endblock step_header %}

{% block wizard_form_content %}
{% if wizard.form.fields|length == 0 %}
	{% for concern in concerns_data|sort_dict_by_key %}
		{{ concern }}
		{% if forloop.counter|divisibleby:"2" %}
			<div id="input{{ forloop.counter|divide_by:2 }}" class="cloned">
				<input type="text" name="3-weight{{ forloop.counter|divide_by:2 }}" value="" id="id_3-weight{{ forloop.counter|divide_by:2 }}" class="weight-input" />
			</div>
		{% endif %}
	{% endfor %}
{% else %}
	{% for field in wizard.form %}
		<div id="input{{ forloop.counter }}" class="cloned">
			<div class="field-wrapper">
				<div class="field-input-wrapper">
					{{ field }}	
				</div>
				<div class="field-errors-wrapper">
					{{ field.errors }}
				</div>
			</div>
		</div>
	{% endfor %}
	{% if concerns_length > wizard.form.fields|length %}
   		{% for concern in concerns_data|sort_dict_by_key %}
   			{% if forloop.counter|divide_by:2 > wizard.form.fields|length %}
    			<div id="input{{ forloop.counter }}" class="cloned">
    				<input type="text" name="3-weight{{ forloop.counter|divide_by:2 }}" value="" id="id_3-weight{{ forloop.counter|divide_by:2 }}" class="weight-input" />
				</div>
			{% endif %}
   		{% endfor %}
	{% endif %}
{% endif %}
<div id="form-errors-wrapper">
	<ul class="errorlist">
	{% for error in wizard.form.non_field_errors %}
		<li>{{ error }}</li>
	{% endfor %}
	</ul>
</div>
<input type="hidden" name="num-weights" value="{% if wizard.form.fields|length == 0 %}{{ concerns_length }}{% else %}{% if not concerns_data %}{{ wizard.form.fields|length }}{% else %}{{ concerns_length }}{% endif %}{% endif %}" id="num-weights" />
{% endblock wizard_form_content %}

{% block wizard_bottom_content %}
<div id="weight-total-wrapper">
	<p><span id="weight-total">0</span></p>
</div>
{% endblock wizard_bottom_content %}