{% extends 'gridMng/wizard/gridWizard_base.html' %}
{% load wizard_extras %}

{% block stylesheet %}
<style type="text/css">
#alt-list {
	margin-top: 10px;
}
#alt-list-data > .cloned {
	padding-bottom: 5px;
}
#alt-list-header {
	margin-bottom: 5px;
}
#form-menu {
	margin-top: 10px;
}
.field-wrapper .field-input-wrapper {
	display: inline-block;
}
.field-wrapper .error {
	display: inline-block;
	margin: 4px 0px 0px 5px;
}
.form-errors-wrapper {
	overflow: hidden;
}
div.form-errors-wrapper .error {
	margin: 0px;
}
#btn-add-wrapper {
	margin-top: 5px;
}
</style>
{% endblock stylesheet %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/wizard/wizard-step_2.js"></script>
{% endblock javascript %}

{% block step_info %}
<div class="step-header">
	<p>In this step you can type the alternatives. Press the 'Add' button in order to add more alternatives.</p>
</div>
{% endblock step_info %}

{% block wizard_form_content %}
<div id="alt-list">
	<div id="alt-list-header">
		<h4>Alternatives List</h4>
	</div>
	<div id="alt-list-data">
	{% if wizard.form.fields|length == 0 %}
		{% for i in 3|get_range %}
		<div id="input{{ i|add:'1' }}" class="cloned">
			<input type="text" name="1-alternative-{{ i|add:'1' }}" id="id_1-alternative-{{ i|add:'1' }}" tabindex="{{ i|add:'1' }}" size="30" />
		</div>
		{% endfor %}
	{% else %}
		{% for field in wizard.form %}
		<div id="input{{ forloop.counter }}" class="cloned">
			<div class="field-wrapper">
				<div class="field-input-wrapper">
					{{ field }}
				</div>
				{% if field.errors %}
				<div class="error">
				{% for error in field.errors %}
					<p>{{ error }}</p>
				{% endfor %}
				</div>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	{% endif %}
	</div>
</div>
{% if wizard.form.errors %}
<div class="form-errors-wrapper">
	<div class="error">
	{% for error in wizard.form.non_field_errors %}
		<p>{{ error }}</p>
	{% endfor %}
	</div>
</div>
{% endif %}
<input type="hidden" name="num-alternatives" value="{% if wizard.form.fields|length == 0 %}3{% else %}{{ wizard.form.fields|length }}{% endif %}" id="num-alternatives" />
{% endblock wizard_form_content %}

{% block after_wizard_form_content %}
<div id="btn-add-wrapper">
   	<input type="button" id="btn-add" value="Add" tabindex="{% if alternatives_length %}{{ alternatives_length|add:'1' }}{% else %}4{% endif %}" />
</div>
{% endblock after_wizard_form_content %}

{% block prev_step_but_tab %}{% if alternatives_length %}{{ alternatives_length|add:'3' }}{% else %}6{% endif %}{% endblock prev_step_but_tab %}

{% block next_step_but_tab %}{% if alternatives_length %}{{ alternatives_length|add:'2' }}{% else %}5{% endif %}{% endblock next_step_but_tab %}