{% extends 'gridMng/wizard/gridWizard_base.html' %}
{% load wizard_extras %}

{% block stylesheet %}
<style type="text/css">
#alternative-name {
	font-weight: bold;
}
select > option.incomplete {
	color: red;
}
#concern-list-wrapper {
	margin-top: 15px;
	margin-bottom: 15px;
}
#concern-list-data {
	margin-top: 15px;
	padding-left: 5px;
}
.conc-rating-wrapper {
	overflow: hidden;
	margin: 5px 0px;
}
.sep {
	float: left;
	margin-right: 3px;
}
#form-menu {
	margin-top: 10px;
}
.conc-label {
	margin: 0px 10px;
}
select#alternatives-list {
	height: 100%;
	font-size: 12px;
}
#alternatives-wrapper {
	margin-top: 10px;
}
#alternatives-selection-wrapper {
	margin-top: 3px;
}
#content .rating-selection label {
	padding: 0px;
	width: 20px;
}
#content .rating-selection {
	float: left;
}
.rating-selection-wrapper input[type="radio"] {
	margin: 0px 1px;
}
div.f {
	margin-top: 13px;
}
</style>
{% endblock stylesheet %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/wizard/wizard-step_5.js"></script>
{% endblock javascript %}

{% block step_info %}
<div class="step-header">
	<p>In this step you can select an alternative, and rate it against the concerns.<br />
	Alternatives marked with red color are not completed. Make sure that you have rated every alternative against each concern.</p>
</div>
{% endblock step_info %}

{% block wizard_top_content %}
<div id="alternatives-wrapper">
	<div id="alt-list-header">
		<h4>Alternatives List</h4>
	</div>
	<div id="alternatives-selection-wrapper">
		<select id="alternatives-list" size="{% if alternatives_length > 4 %}{{ alternatives_length }}{% else %}4{% endif %}">
		{% for alternative in alternatives_data|sort_dict_by_key %}
			{% if forloop.counter == 1 %}
				<option id="{{ alternative.0 }}" selected="selected">{{ alternative.1 }}</option>
			{% else %}
				<option id="{{ alternative.0 }}">{{ alternative.1 }}</option>
			{% endif %}
		{% endfor %}
		</select>
	</div>
</div>
<div id="concern-list-wrapper">
	<div id="concern-list-header">
		<p>Select a rating for each concern, for the alternative <span id="alternative-name"></span>.</p>
	</div>
	<table id="concern-list-data">
		<thead>
			<th align="center">Left Pole</th>
			<th align="center">Rating</th>
			<th align="center">Right Pole</th>
		</thead>
		<tbody>
		{% for i in concerns_data_in_pairs|length|get_range %}
			<tr>
				<td align="center">
					<div class="conc-label {% if forloop.counter == 1 %}f{% endif %}">
						<span>{{ concerns_data_in_pairs|get_left_concern_value:forloop.counter }}</span>
					</div>
				</td>
				<td align="center">
					<div class="rating-selection-wrapper">
					{% for x in 5|get_range %}
						<div class="rating-selection">
							<label for="{{ forloop.parentloop.counter }}-{{ x|add:'1' }}">{% if forloop.parentloop.counter == 1 %}{{ x|add:'1' }}{% endif %}</label>
							<input type="radio" name="concern-{{ forloop.parentloop.counter }}" value="{{ x|add:'1' }}" id="{{ forloop.parentloop.counter }}-{{ x|add:'1' }}" class="rating" />
						</div>
					{% endfor %}
					</div>
				</td>
				<td align="center">
					<div class="conc-label {% if forloop.counter == 1 %}f{% endif %}">
						<span>{{ concerns_data_in_pairs|get_right_concern_value:forloop.counter }}</span>
					</div>
				</td>
			</tr>
		{% endfor %}
		</div>
	</table>
</div>
{% endblock wizard_top_content %}

{% block wizard_form_content %}
<div class="data-wrapper">
	{% if wizard.form.fields|length > 0 %}
		<div id="input1" class="rca-data">
		{% for field in wizard.form %}
			{{ field }}
			{% if forloop.counter|divisibleby:concerns_length %}
				{% if forloop.counter|divide_by:concerns_length < wizard.form.fields|length|divide_by:concerns_length %}
					</div>
					<div id="input{{ forloop.counter|divide_by:concerns_length|add:'1' }}" class="rca-data">
				{% endif %}
			{% endif %}
		{% endfor %}
		</div>
	{% else %}
		{% for alternative in alternatives_data|sort_dict_by_key %}
		<div id="input{{ forloop.counter }}" class="rca-data">
			{% for concern in concerns_data|sort_dict_by_key %}
				{% if forloop.counter|divisibleby:"2" %}
					{% with key=forloop.counter|divide_by:2|concat:forloop.parentloop.counter %}
					<input type="hidden" name="4-rating-concern{{ forloop.counter|divide_by:2 }}-alternative{{ forloop.parentloop.counter }}" value="{{ acrd|get_value_of_dict:key }}" id="id_4-rating-concern{{ forloop.counter|divide_by:2 }}-alternative{{ forloop.parentloop.counter }}" />
					{% endwith %}
				{% endif %}
			{% endfor %}
		</div>
		{% endfor %}
	{% endif %}
	{% if wizard.form.errors %}
	<div class="form-errors-wrapper">
		<div class="error">
			{% for error in wizard.form.non_field_errors %}
				<p>{{ error }}</p>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	<div id="extra-data">
		<input type="hidden" name="num-alternatives" value="{{ alternatives_length }}" id="num-alternatives" />
		<input type="hidden" name="num-concerns" value="{{ concerns_length }}" id="num-concerns" />
	</div>
</div>
{% endblock wizard_form_content %}