{% extends 'gridMng/wizard/gridWizard_base.html' %}
{% load wizard_extras %}

{% block stylesheet %}
<style type="text/css">
#alternative-name {
	font-weight: bold;
}
select > option.incomplete {
	color: red;
}
</style>
{% endblock stylesheet %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/wizard/wizard-step_5.js"></script>
{% endblock javascript %}

{% block step_header %}
<p>Please select an alternative that you want to rate.<br />
Alternatives marked with red color are not completed. Please make sure that you insert a rating for every concern of every alternative.</p>
{% endblock step_header %}

{% block wizard_top_content %}
<div id="alternatives-wrapper">
	<div id="alternatives-selection-wrapper">
		<select id="alternatives-list" size="{{ alternatives_data|length }}">
		{% for alternative in alternatives_data|sort_dict_by_key %}
			{% if forloop.counter == 1 %}
				<option id="{{ alternative.0 }}" selected="selected">{{ alternative.1 }}</option>
			{% else %}
				<option id="{{ alternative.0 }}">{{ alternative.1 }}</option>
			{% endif %}
		{% endfor %}
		</select>
	</div>
</div>
<div id="concern-list-wrapper">
	<div id="concern-list-header">
		<p>Insert a rating for each concern, for the alternative <span id="alternative-name"></span>.<br />
		Please note that in order to successfully save the values and move to the next step, you have to press the submit button.<br />
		In case that you select the previous button, you will have to select the values of the ratings again.</p>
	</div>
	<div id="concern-list-data">
	{% for concern in concerns_data|sort_dict_by_key %}
		{{ concern.1 }}
		{% if forloop.counter|divisibleby:"2" %}
			<div class="rating-selection">
			{% for x in 5|get_range %}
				<input type="radio" name="concern-{{ forloop.parentloop.counter|divide_by:2 }}" value="{{ x|add:'1' }}" id="{{ forloop.parentloop.counter|divide_by:2 }}-{{ x|add:'1' }}" class="rating" />
			{% endfor %}
			</div>
		{% endif %}
	{% endfor %}
	</div>
</div>
{% endblock wizard_top_content %}

{% block wizard_form_content %}
<div class="data-wrapper">
	{% if wizard.form.fields|length > 0 %}
		<div id="input1" class="rca-data">
		{% for field in wizard.form %}
			{{ field }}
			{% if forloop.counter|divisibleby:"2" %}
				{% if forloop.counter|divide_by:2 < wizard.form.fields|length|divide_by:2 %}
					</div>
					<div id="input{{ forloop.counter|divide_by:2|add:'1' }}" class="rca-data">
				{% endif %}
			{% endif %}
		{% endfor %}
		</div>
	{% else %}
		{% for alternative in alternatives_data|sort_dict_by_key %}
		<div id="input{{ forloop.counter }}" class="rca-data">
			{% for concern in concerns_data|sort_dict_by_key %}
				{% if forloop.counter|divisibleby:"2" %}
					<input type="hidden" name="4-rating-concern{{ forloop.counter|divide_by:2 }}-alternative{{ forloop.parentloop.counter }}" value="0" id="id_4-rating-concern{{ forloop.counter|divide_by:2 }}-alternative{{ forloop.parentloop.counter }}" />
				{% endif %}
			{% endfor %}
		</div>
		{% endfor %}
	{% endif %}
	<div id="extra-data">
		<input type="hidden" name="num-alternatives" value="{{ alternatives_data|length }}" id="num-alternatives" />
		<input type="hidden" name="num-concerns" value="{{ concerns_data|length|divide_by:2 }}" id="num-concerns" />
	</div>
</div>
{% endblock wizard_form_content %}