{% extends 'layout.html' %}

{% block title %}
RGT | Grids - Create
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tipsy.css"  />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smallButton.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/gridTableGeneralFunctions.css"  />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/createMyGrid.css" />
{% endblock stylesheet %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ajaxPostDjangoFix.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jshashtable-2.1_src.js"></script>
{% endblock javascript %}

{% block content %}
{% if not user.is_active %}
	<div id="verify-message">
		<p>Please verify your email in order to use this part of the application! Thank you!</p>
	</div>
{% else %}
<div id="myGridDiv">    
	<h2>Create Grid</h2>
	<p>Follow these three easy steps to create a new grid.</p>
	<div id="createGridBody">
		<form id="form">
			<div class="formelms">
			    <h3>Step 1: Enter grid name</h3>
			    <label class="gridNameLabel" for="gridName">Grid name:</label>
			    <input type="text" id="gridName" name="gridName"/>
			    <h3>Step 2: Enter grid data</h3>
				<div id= "gridData" style="display: inline;">
					{% include "gridMng/createMyGridBase.html" %}
				</div>
			    <h3>Step 3: Save the grid</h3>
			    <input onclick="createGrid()" type="button" value="Save" />
			    or <a href="/grids/">return to index.</a>
			</div>
		</form>
	</div>
	<script type="text/javascript">
		if(typeof prepareGrid != 'function')
		{
			//$.getScript( '{{ STATIC_URL }}js/createMyGrid.js');
			$.ajax({
				url: '{{ STATIC_URL }}js/createMyGrid.js',
				dataType: 'script',
				success: function(){prepareGrid()},
				async:   false 
			});
		}
		else
		{
			prepareGrid();
		}
	</script>
</div>
{% endif %}
{% endblock content %}