{% extends 'layout.html' %}

{% block title %}
	RGT | Grids - Wizard
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/wizard/alt-step.js"></script>   
{% endblock%}

{% block content %}
{% if not user.is_active %}
	<div id="verify-message">
		<p>Please verify your email in order to use this part of the application! Thank you!</p>
	</div>
{% else %}
	<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
	<form action="" method="post">{% csrf_token %}
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
	    {{ wizard.form.management_form }}
	    {% for form in wizard.form.forms %}
	        {{ form }}
	    {% endfor %}
	{% else %}
		<div id="step-header">
			<p>Please insert the alternatives. Make sure that you press the submit button in order to 
			confirm the selection.</p>
		</div>
		<div id="btn-add-wrapper">
	    	<input type="button" id="btnAdd" value="Add another alternative" />
	    </div>
	    <div id="fields-wrapper">
	    {% if wizard.form.fields|length == 0 %}
			<div id="input1" style="margin-bottom:4px;" class="clonedInput">
				<input type="text" name="1-alternative1" id="id_1-alternative1" />
			</div>
		{% else %}
			{% for field in wizard.form %}
				<div id="input{{ forloop.counter }}" style="margin-bottom:4px;" class="clonedInput">
					{{ field }}
					{{ field.errors }}
				</div>
	   		{% endfor %}
	    {% endif %}
	    </div>
	    <input type="hidden" id="numAlternatives" name="numAlternatives" value="{% if wizard.form.fields|length == 0 %}1{% else %}{{ wizard.form.fields|length }}{% endif %}"/>
    {% endif %}
	{% if wizard.steps.prev %}
	<div id="wizard-menu">
		<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">first step</button>
		<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">prev step</button>
	</div>
	{% endif %}
	<div id="submit">
		<input type="submit" value="submit"/>
	</div>
	</form>
{% endif %}
{% if variable %}
<p>extra variable here</p>
{% endif %}
{% endblock %}