{% extends 'layout.html' %}
{% load wizard_extras %}

{% block title %}
	RGT | Grids - Wizard
{% endblock %}

{% block content %}
{% if not user.is_active %}
	<div id="verify-message">
		<p>Please verify your email in order to use this part of the application! Thank you!</p>
	</div>
{% else %}
	<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
	<form action="" method="post">{% csrf_token %}
	{{ wizard.management_form }}
	{% if wizard.form.forms %}
	    {{ wizard.form.management_form }}
	    {% for form in wizard.form.forms %}
	        {{ form }}
	    {% endfor %}
	{% else %}
		<div id="step-head">
			<p>Please insert weights for the concerns.</p>
		</div>
		{{ concerns_data|length|divide_by:2 }} {{ wizard.form.fields|length }}
		{% if wizard.form.fields|length == 0 %}
			{% for concern in concerns_data|sort_dict_by_key %}
				{{ concern }}
				{% if forloop.counter|divisibleby:"2" %}
					<div id="input{{ forloop.counter|divide_by:2 }}" style="margin-bottom:4px;" class="clonedInput">
						<input type="text" name="3-weight{{ forloop.counter|divide_by:2 }}" id="id_3-weight{{ forloop.counter|divide_by:2 }}" /> 
					</div>
				{% endif %}
			{% endfor %}
		{% else %}
			{% for field in wizard.form %}
				<div id="input{{ forloop.counter }}" style="margin-bottom:4px;" class="clonedInput">
					{{ field }}
					{{ field.errors }}
				</div>
			{% endfor %}
			{% if concerns_data|length|divide_by:2 > wizard.form.fields|length %}
	    		{% for concern in concerns_data|sort_dict_by_key %}
	    			{% if forloop.counter|divide_by:2 > wizard.form.fields|length %}
		    			<div id="input{{ forloop.counter }}" style="margin-bottom:4px;" class="clonedInput">
		    				<input type="text" name="3-weight{{ forloop.counter|divide_by:2 }}" id="id_3-weight{{ forloop.counter|divide_by:2 }}" />
						</div>
					{% endif %}
	    		{% endfor %}
			{% endif %}
		{% endif %} 
	{% endif %}
	<input type="hidden" name="numWeights" id="numWeights" value="{% if wizard.form.fields|length == 0 %}{{ concerns_data|length|divide_by:2 }}{% else %}{% if not concerns_data %}{{ wizard.form.fields|length }}{% else %}{{ concerns_data|length|divide_by:2 }}{% endif %}{% endif %}" />
	{% if wizard.steps.prev %}
	<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">first step</button>
	<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">prev step</button>
	{% endif %}
	<input type="submit" value="submit"/>
	</form>
{% endif %}
{% if variable %}
<p>extra variable here</p>
{% endif %}
{% endblock %}