<div id= "participationSessionsContentGridsDiv">
	{% if displaySessionGrid %}
		<div id="participatingSessionGridDiv">
			<h4 id= "participatingSessionCurrentSessionGridHeader"></h4>
			{% if table %}
				{% include "gridMng/gridTable.html" %}
			{% endif %}
		</div>
	{% endif %}
	{% if displayResponseGrid %}
		<div id= "participatingSessionGridAnswerDiv">
			<h4 id= "participatingSessionSuggestionGridHeader">Your Suggestion Grid</h4>
			<form id="participatingSessionResponseGridForm">
				{% if responseTable %}
					{% include "gridMng/gridTable.html" with table=responseTable tableHeader=responseTableHeader weights=responseWeights changeRatingsWeights=responseChangeRatingsWeights changeCornAlt=responseChangeCornAlt checkForTableIsSave=responseCheckForTableIsSave showRatingWhileFalseChangeRatingsWeights=responseShowRatingWhileFalseChangeRatingsWeights tableId=responseTableId doesNotShowLegend=responseDoesNotShowLegend STATIC_URL=STATIC_URL only %}
				{% endif %}
			</form>
		</div>
	{% endif %}
</div>