{% load tz %}
<script type="text/javascript">
    if( typeof sendResponse != 'function')
    {
        $.ajax({
            url: '{{ STATIC_URL }}js/participatingSessionsContent.js',
            dataType: 'script',
            async: false
        });
    }
</script>
<table class="grid" id="sessionDetails">
    <thead>
    <tr>
        <th colspan="2">Session details</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Current iteration</td>
        <td id="participantSessionIteration">{{data.iteration}}</td>
    </tr>
    <tr>
        <td>Session status</td>
        <td>{{data.sessionStatus}}</td>
    </tr>
    <tr>
        <td>Number of participants that responded</td>
        <td>
            {% if data.showNParticipantsAndResponces %}
            <span id= "nReceivedResponses">{{data.nReceivedResponses}}</span>/{{data.nParticipants}}
            {% else %}
            -----
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class= "participatingSessionsResponseHighlight">Response status</td>
        <td id="responseStatusSpan" class= 'participatingSessionsResponseHighlight'>{{ data.responseStatus }}{% if data.dateTime %}{% localtime on %}{{ data.dateTime|date:"Y-m-d H:i:s" }}{% endlocaltime %}{% endif %}</td>
    </tr>
    <tr>
        <td>Show your response from iteration</td>
        <td>
            <select id= "responseSelection" onchange= "getResponseFromIteration()"> <!-- Add a question mark icon here with tooltip explaining what this does-->
                {% if not data.iterations %}
                <option value="null">N/A</option>
                {% else %}
                <option value="null">    </option>
                {% for i in data.iterations %}
                {% if i != data.iteration %}
                <option value="{{i}}">{{i}}</option>
                {% endif %}
                {% endfor %}
                <option value="current">Cur</option>
                {% endif %}
            </select>
        </td>
    </tr>
    </tbody>
</table>
<!-- div with all the content -->
<div id="participationSessionsContentDiv">
    {% include "gridMng/participatingSessionsContentGrids.html" with data=data.participatingSessionsContentGridsData STATIC_URL=STATIC_URL only %}
</div>
<div id="responseOptionsDiv">
    {% if not data.hideSaveResponseButton %}
    <input type="button" id="sendResponseButton" onclick="rescale();sendResponse()" value="Send Response" />
    <input type="button" id="participatingSessionsContentUndoAllButton" onclick="getResponseFromIteration('current')" value="Undo All" />
    {% endif %}
</div>
<table class="grid" id="resultDetails">
    <tbody>
    <tr>
        <td>Show the results from iteration</td>
        <td>
            <select id= "resultSelection" onchange= "sessionsShowResults()"> <!-- Add a question mark icon here with tooltip explaining what this does-->
                {% if not data.iterations %}
                <option value="null">N/A</option>
                {% else %}
                <option value="null">    </option>
                {% for i in data.iterations %}
                {% if i != data.iteration %}
                <option value="{{i}}">{{i}}</option>
                {% endif %}
                {% endfor %}
                {% endif %}
            </select>
        </td>
    </tr>
    </tbody>
</table>
<div id="sessionsResultsDiv">
    <div id="sessionsContentResultDiv">
    </div>
    <div id="sessionContentResultsOptions">
        <input type="button" id="clearResultsButton" onclick="clearResults()" value="Clear Results" style="display: none;" />
    </div>
</div>
