{% extends 'layout.html' %}

{% block title %}
RGT | Sessions - Participating
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/participatingSessions.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/participatingSessionsContent.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/gridTableGeneralFunctions.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/pendingResponses.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/resultAlternativeConcernTable.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/resultRatingWeightTable.css" />
{% endblock stylesheet %}

{% block javascript %}
<script type="text/javascript">
			if( typeof participateInSession != 'function')
			{
				$.ajax({
					url: '{{ STATIC_URL }}js/participatingSessions.js',
					dataType: 'script',
					async:   false 
				});
			}
</script>
{% endblock javascript %}

{% block content %}
{% if not user.is_active %}
	<div id="verify-message">
		<p>Please verify your email in order to use this part of the application.</p>
	</div>
{% else %}
<div>
	<div id="participatingSessionsPendingGeneralInfo">
		<h2>Participating Sessions</h2>
		On this page you can review the sessions you are participating in. <br/>
		Click <a href="/sessions/">here</a> to administrate your sessions.
		
		<label for="participatingSessionSelect">Select session:</label>
        <select id="participatingSessionSelect" onchange="window.location.href='/sessions/participate/' + this.options[this.selectedIndex].value">
			{% if not data.sessions %}
				<option id= "noSessionOption" value= "noSession">No session available</option>
			{% else %}
				<option value="noSession"> </option>
			{% endif %}
                {% for s in data.sessions %}
                    <option value="{{ s.usid }}"
                        {% if session and session.usid == s.usid %}
                            selected="selected"
                        {% endif %}
                    >{{ s.get_descriptive_name }}
                    </option>
			{% endfor %}
		</select>
		<img id= "participatingSessionsRefreshImage" src="/static/icons/refresh.png" onclick= "showParticipatingSessionDetails()"/>
	</div>
	{% comment %} 
		Table that is displayed only if there is a request in a session that the user is participating.
		The table contains the name of the session that is waiting for an answer of the participant.
	{% endcomment %}
    {% if data.pendingResponses %}
        <div id="participatingSessionsPendingResponsesDiv">
			{%include "gridMng/pendingResponses.html" with data=data STATIC_URL=STATIC_URL%}
	    </div>
    {% endif %}
</div>
<div id="participatingSessionContentDiv">
{%  block session %}{% endblock %}
</div>
{% endif %}
{% endblock content %}