{% extends 'layout.html' %}

{% block title %}
RGT | Sessions - Participating
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/participatingSessions.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/participatingSessionsContent.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/gridTableGeneralFunctions.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/pendingResponses.css" />
{% endblock stylesheet %}

{% block content %}
{% if not user.is_active %}
	<div id="verify-message">
		<p>Please verify your email in order to use this part of the application! Thank you!</p>
	</div>
{% else %}
<div>
	<div id="participatingSessionsPendingGeneralInfo">
		<h2>Participating Sessions</h2>
		On this page you can review the sessions you are participating in. <br/>
		Click <a href="/sessions/">here</a> to administrate your sessions.
		<script type="text/javascript">
			if( typeof participateInSession != 'function')
			{
				$.ajax({
					url: '{{ STATIC_URL }}js/participatingSessions.js',
					dataType: 'script',
					async:   false 
				});
			}
		</script>
		<label for="participatingSessionSelect">Select session:</label><select id="participatingSessionSelect" onchange= "showParticipatingSessionDetails()">
			{%if not data.hasSessions%}
				<option id= "noSessionOption" value= "noSession">No session available</option>
			{% else %}
				<option value="noSession"> </option>
			{% endif %}
			{% for usid, name in data.sessions %}
				<option value="{{ usid }}">{{ name }}</option>
			{% endfor %}
		</select>
		<img id= "participatingSessionsRefreshImage" src="/static/icons/refresh.png" onclick= "showParticipatingSessionDetails()"/>
		<div id="joinSessionMenuDiv">
			<label for="invitationKeyInput">Invitation key:</label>
		    <input type="text" id="invitationKeyInput"/>
		    <input type="button" onclick="joinSession()" value="Join Session" />
		</div>
	</div>
	{% comment %} 
		Table that is displayed only if there is a request in a session that the user is participating.
		The table contains the name of the session that is waiting for an answer of the participant.
	{% endcomment %}
	<div id="participatingSessionsPendingResponsesDiv">
		{% if data.pendingResponses.pedingResponsesTable %}
			{%include "gridMng/pendingResponses.html" with data=data.pendingResponses STATIC_URL=STATIC_URL%}
		{% endif %}
	</div>
</div>
<div id="participatingSessionContentDiv">
</div>
{% endif %}
{% endblock content %}