<div id= "participationSessionsContentGridsDiv">
    {% if data.displaySessionGrid %}
        <div id="participatingSessionGridDiv">
            <h4 id= "participatingSessionCurrentSessionGridHeader"></h4>
            {% if table %}
                {% include "gridMng/gridTable.html" %}
            {% endif %}
    </div>
    {% endif %}
    {% if data.displayPreviousResponseGrid %}
        <div id="participatingPreviousIterationGridDiv">
            <h4 id= "participatingSessionPreviousIterationGridHeader">Your response Grid from previous iteration</h4>
                {% if previousResponseTable %}
                    {% include "gridMng/gridTable.html" with table=previousResponseTable tableHeader=previousResponseTableHeader weights=previousResponseWeights changeRatingsWeights=previousResponseChangeRatingsWeights changeCornAlt=previousResponseChangeCornAlt checkForTableIsSave=previousResponseCheckForTableIsSave showRatingWhileFalseChangeRatingsWeights=previousResponseShowRatingWhileFalseChangeRatingsWeights tableId=previousResponseTableId doesNotShowLegend=previousResponseDoesNotShowLegend only %}
                {% endif %}
        </div>
    {% endif %}
    {% if data.displayResponseGrid %}
        <div id= "participatingSessionGridAnswerDiv">
            <h4 id= "participatingSessionSuggestionGridHeader">Your Suggestion Grid</h4>
            <form id="participatingSessionResponseGridForm">
                {% if responseTable %}
                    {% include "gridMng/gridTable.html" with table=responseTable tableHeader=responseTableHeader weights=responseWeights changeRatingsWeights=responseChangeRatingsWeights changeCornAlt=responseChangeCornAlt checkForTableIsSave=responseCheckForTableIsSave showRatingWhileFalseChangeRatingsWeights=responseShowRatingWhileFalseChangeRatingsWeights tableId=responseTableId doesNotShowLegend=responseDoesNotShowLegend STATIC_URL=STATIC_URL only %}
                {% endif %}
            </form>
        </div>
    {% endif %}
</div>