{% load authentication_tags %}

<div id="recaptcha_widget" style="display: none;">
    <label for="recaptcha_response_field" class="recaptcha_only_if_image">Enter the words shown below:</label>
    <label for="recaptcha_response_field" class="recaptcha_only_if_audio">Enter the numbers you hear:</label>

    <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" />
    <div id="recaptcha_image" style="margin-left: -25px;"></div>
    <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>

    <div style="border: 10px; padding-bottom: 10px;"><a href="javascript:Recaptcha.reload()">Get another CAPTCHA</a></div>
    <div class="recaptcha_only_if_image" style="border: 10px; padding-bottom: 10px;"><a href="javascript:Recaptcha.switch_type('audio')">Get an audio CAPTCHA</a></div>
    <div class="recaptcha_only_if_audio" style="border: 10px; padding-bottom: 10px;"><a href="javascript:Recaptcha.switch_type('image')">Get an image CAPTCHA</a></div>
</div>

<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k={% recaptcha_public_key %}">
</script>

<noscript>
    <iframe src="http://www.google.com/recaptcha/api/noscript?k={% recaptcha_public_key %}"
            height="300" width="500" frameborder="0"></iframe><br>
    <textarea name="recaptcha_challenge_field" rows="3" cols="40">
    </textarea>
    <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
</noscript>