{% extends 'authentication/layout.html' %}

{% block title %}
	RGT | Recover Password
{% endblock %}

{% block header %}
	Recover Password
{% endblock %}

{% block content %}
{% if invalidLink %}
<p>The link is already used, it has expired, or it does not exist!</p>
{% else %}
<form action="/accounts/recover/" method="post" id="form">
    {% csrf_token %}
    <input type="hidden" name="linkCode" id="linkCode" value="{{ linkCode }}" />
	<div id="recoverPassForm">
		{% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
                <div class="error">{{error}}</div>
            {% endfor %}
        {% endfor %}
	</div>
	<input type="submit" value="Submit" />
</form>
{% endif %}
{% endblock %}