{% extends 'layout.html' %}

{% block title %}
RGT | Home
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home.css" />
{% endblock stylesheet %}

{% block content %}
<div>
	<h2>Home</h2>
</div>
{% if not user.is_superuser %}
	{% if not user.is_active %}
	<div id="verify-message">
		<p>Please verify your email.</p>
    <br/>
	</div>
	{% endif %}
{% endif %}
<div class="info-box" id="welcome-message">
	<p>Welcome {{ firstName }}! Please use the menu above to navigate.</p>
</div>
<div class="info-box" id="gen-info">
	<h3>About</h3>
	<p>The <strong>Repertory Grid Tool</strong> is a project of the Software Engineering and Architecture research group (<a href="http://www.cs.rug.nl/search/" target="_blank">SEARCH</a>),
	from the University of Groningen, in the Netherlands.
	</p>
</div>
<div class="info-box" id="br-info">
	<h3>Note</h3>
	<div id="br-info-head">
		<p>Please take note that we currently only support the following browsers:</p>
	</div>
	<div id="br-info-main">
	    <ul>
	        <li>Microsoft Internet Explorer 9</li>
	        <li>Mozilla FireFox 12 (or higher)</li>
	        <li>Google Chrome 19 (or higher)<!-- img src="{{ STATIC_URL }}icons/help.png" style="display: inline;" class="helpHover" id="help_googleChrome" /--></li>
	    </ul>
	</div>
</div>
{% endblock content %}