{% extends 'layout.html' %}

{% block title %}
	RGT | Home
{% endblock%}

{% block content %}
	{% if not user.is_superuser %}
		{% if not user.is_active %}
		<div id="verify-message">
			<p>Please verify your email! Thank you!</p>
        <br/>
		</div>
		{% endif %}
	{% endif %}
	<div id="welcome-message">
		<p>Welcome {{ firstName }}!
            Please use the menu above to navigate!</p>
        <br />
    <p>
        Please take note that we currently only support the following browsers: <br/> <br/>
        <ul style="list-style: none">
            <li>Microsoft Internet Explorer 9</li>
            <li>Mozilla FireFox 12 (or higher)
            </li>
            <li>
                Google Chrome 19 (or higher)
            </li>

        </ul>
    </p>
    </div>
{% endblock %}

{% block javascript%}
    <!-- <img src="{{ STATIC_URL }}icons/help.png" style="display: inline;" class="helpHover" id="help_googleChrome" /> -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/tipsy.js"></script>
    <link rel="Stylesheet" type="text/css" href="{{ STATIC_URL }}css/tipsy.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/displayHelp.js"></script>
{% endblock %}