<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shared.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/flick/jquery-ui-1.8.18.custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.loadmask.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tipsy.css" />
    {% block stylesheet %}{% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/external/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/external/jquery-ui-1.8.21.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/external/ajaxPostDjangoFix.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/external/jquery.loadmask.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/dialogbox.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/loadSpinner.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/displayHelp.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/external/tipsy.js"></script>
	{% block javascript %}{% endblock %}
	<script type="text/javascript">
        $(window).ready(function(){
        	//preload the image used to display the waiting status of an ajax request
        	img1 = new Image();
            img1.src = "{{ STATIC_URL }}images/ajax-loader.gif";
            {% block onloadJavascript %}{% endblock %}
		});
    </script>
</head>
<body>
<div id="wrap">
    <div id="main">
        <div id="header">
            <div id="header-center">
                <div id="logo">
                    <img src="{{ STATIC_URL }}images/rgt-logo.png" alt=""/></div>
                <div id="buttons">
                    {% include 'menu.html' %}
                </div>
            </div>
        </div>
        <div id="workspace">
            <div id="content">
                <div>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% block content %}{% endblock %}
                    <div id="modalDialogBox" class="dialogBoxModal">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div>
        <p>Repertory Grid Tool ©2013 | <a href="/contact/">Contact Us!</a></p>
    </div>
</div>
</body>
</html>