{% extends 'gridMng/composite/compositeWizard_base.html' %}
{% load wizard_extras %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/wizard/wizard-step_2.css" />
{% endblock stylesheet %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/composite/composite-step_3.js"></script>
{% endblock javascript %}

{% block wizard_form_content %}
<div id="alt-list-wrapper">
    <div id="possible-rules">
        <p>Select rules from this list</p>
        <table align="center">
            <thead>
                <tr>
                    <th>Rule</th>
                    <th>Total rating</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for rule in rules %}
                <tr>
                    <td>{{ rule.name }}</td>
                    <td>{{ rule.total_rating|floatformat }}</td>
                    <td><a href="javascript:void(0);">Mark as valid</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p style="float:left; margin-left: -30px;">or</p>
    <div id="alt-list">
        <p>create custom rules</p>
        {% for grid in grids %}
            <fieldset id="alt-list-data-{{ forloop.counter }}" class="container">
                <legend>{{ grid }}</legend>
                <div class="container">
                    <div class="select-all-wrapper">
                        <input id="select-all-{{ forloop.counter }}" name="select-all" type="checkbox" value="Select all">
                        <label for="select-all-{{ forloop.counter }}">Select all</label>
                        <br />
                    </div>
                    {% for alt in grid.alternatives_set.all %}
                        <input id="alternate_grid-{{forloop.parentloop.counter}}-{{ forloop.counter}}" name="1-gridChoices" type="checkbox" value="{{ alt }}">
                        <label for="alternate_grid-{{forloop.parentloop.counter}}-{{ forloop.counter}}">{{ alt }}</label>
                        <br />
                    {% endfor %}
                </div>
            </fieldset>
        {% endfor %}

        <fieldset class="container">
            <legend>Status</legend>
        <div id="alt-list-data-{{ forloop.counter }}" class="container">
            <div>
                <input id="valid" name="status" type="radio" value="valid" checked="checked">
                <label for="valid">Valid</label>
            </div>
            <div>
                <input id="invalid" name="status" type="radio" value="invalid">
                <label for="invalid">Invalid</label>
            </div>
            <div>
                <input id="unknown" name="status" type="radio" value="unknown">
                <label for="unknown">Unknown</label>
            </div>
        </div>
        </fieldset>
        <div id="btn-add-wrapper">
            <input type="button" id="btn-add" value="Add rule" />
        </div>
    </div>
    <div id="rules">
        <h4>Created rules</h4>
        <p id="explanation">No rules have been created yet. Mark rules as valid in the table on the far left or create custom rules.</p>
    </div>
</div>
{% if wizard.form.errors %}
<div class="form-errors-wrapper">
	<div class="error">
	{% for error in wizard.form.non_field_errors %}
		<p>{{ error }}</p>
	{% endfor %}
	</div>
</div>
{% endif %}
<input type="hidden" name="gridUsid" value="" id="gridUsid" />
{% endblock wizard_form_content %}

{% block prev_step_but_tab %}{% if alternatives_length %}{{ alternatives_length|add:'3' }}{% else %}6{% endif %}{% endblock prev_step_but_tab %}

{% block next_step_but_tab %}{% if alternatives_length %}{{ alternatives_length|add:'2' }}{% else %}5{% endif %}{% endblock next_step_but_tab %}
